# yet_essential.prompt_autocomplete settings

# [Search]
search_algorithm=fuzzy
csv_file=booru.csv
search_limit=20
sort_mode=score

# [Formatting]
insertion_suffix=", "
spacing_mode=space
escape_parentheses=true

# [UI]
show_post_count=false
